@font-face {
	font-family: Poppins;
	src: url(fonts/Poppins.ttf);
}
:root {
	--black: #000;
	--green: #0ed53d;
	--softGreen: #defed2;
	--midGreen: #f1fff4;
	--white: #ffffff;
}
* {
	box-sizing: border-box;
}
body {
	padding: 0;
    margin: 0;
	background: linear-gradient(90deg, var(--white) 0%, var(--midGreen) 50%, var(--softGreen) 100%);
	font-family: Poppins;
}
#canvas {
    display: flex;
    filter: drop-shadow(26px 27px 24px #0000009c);
    position: absolute;
    z-index: 2;
	transition: all .5s ease-in-out;
	animation: ZoomEarth .5s linear .6s both;
	cursor: grab;
	transition: all .5s ease-in-out;
}
#content {
	position: absolute;
    z-index: 3;
    width: 35vw;
    height: 70vh;
    right: 6vw;
	top: 5vh;
	animation: inPage .5s linear .9s both;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container {
	width: 100svw;
	height: 100svh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
}
.excontainer {
	width: 90svw;
	height: 90svh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eeeeee5c;
	filter: blur(0px);
    border-radius: 50px;
    box-shadow: 7px 6px 20px 0px #0000004a;
	overflow: hidden;
	transition: all .5s ease-in-out;
	animation: inPage .5s linear both;
}
.mainContainer {
	width: 90vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: absolute;
	z-index: 2;
}
.headBar {
	width: 100%;
	height: 15vh;
	padding: 5px 5px 5px 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nameTitle {
	font-size: 2.5em;
	font-weight: 600;
	letter-spacing: -2px;
	display: flex;
	flex-direction: column;
	transition: all .5s ease-in-out;
	animation: inPage .5s linear both;
}
.nameTitle b {
	font-size: .4em;
	color: var(--green);
	margin: -10px 0px 0px 1px;
    letter-spacing: 2px;
	transition: all .5s ease-in-out;
	animation: upper .5s linear .5s both;
}
.optionsBlock {
	width: auto;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0px 30px 0px 0px;
	transition: all .5s ease-in-out;
	animation: inPageRight .5s linear .3s both;
}
.optionSource {
	padding: 5px 10px;
	text-decoration: none;
	color: var(--black);
	font-weight: 600;
	border-radius: 10px;
}
.optionSource:hover {
	background: var(--black);
	color: var(--white);
	transition: all .5s ease-in-out;
}
.bodyCont {
	width: 100%;
	height: 75vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	position: relative;
	overflow: hidden;
}
.textContainer {
	width: 45%;
	height: 35vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 30px;
}
.bFont {
	font-size: 3em;
	font-weight: 600;
	color: var(--green);
	margin: 0;
	letter-spacing: -1px;
	transition: all .5s ease-in-out;
	animation: upper .7s linear .7s both;
	line-height: 60px;
}
.mFont {
	font-size: 1em;
	font-weight: 400;
	color: var(--black);
	margin: 0;
	transition: all .5s ease-in-out;
	animation: downer .5s linear .8s both;
}
.lFont {
	font-size: .8em;
	color: var(--white);
	font-weight: 600;
}
.boxes {
	width: 38vw;
	height: 25vh;
	display: flex;
	padding: 5px 30px;
	align-items: flex-start;
	justify-content: space-between;
}
.textBox {
	width: 15vw;
	height: 20vh;
	background: #ffffff70 url(../assets/images/CurveLine.svg) center / cover no-repeat;
    border-radius: 20px;
    box-shadow: 3px 3px 13px 0 #00000016;
	backdrop-filter: blur(4px);
	animation: upper .5s linear .9s both;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	padding: 15px;
}
.svgForm {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	bottom: -15%;
    right: -35%;
    transform: scale(1.7);
	filter: drop-shadow(2px 4px 6px var(--black));
}
.myWave {
	width: 80%;
	height: 80%;
	position: absolute;
	bottom: -30%;
	right: -20%;
	border-radius: 100% 90% 100% 70%;
	background: url(../assets/images/rare.svg) center / cover no-repeat;
	box-shadow: inset 5px 4px 20px 0px #000000b3;
	transition: all .5s ease-in-out;
	animation: downer .5s linear .5s both;
}
.socialContainer {
	width: 35vw;
	height: 10vh;
	display: flex;
	gap: 10px;
	align-items: flex-start;
	justify-content: center;
}
.socialButton {
	width: 50px;
	height: 50px;
	border-radius: 15px;
	border: 10px solid var(--black);
	background-position: center;
	background-size: 40px;
	background-repeat: no-repeat;
	transition: all .3s ease-in-out;
}
.socialButton:nth-child(1) {
	background-image: url(../assets/images/whatsapp.svg);
	animation: downer .5s linear .5s both;
}
.socialButton:nth-child(2) {
	background-image: url(../assets/images/facebook.svg);
	animation: downer .5s linear .6s both;
}
.socialButton:nth-child(3) {
	background-image: url(../assets/images/instagram.svg);
	animation: downer .5s linear .7s both;
}
.socialButton:nth-child(4) {
	background-image: url(../assets/images/tiktok.svg);
	animation: downer .5s linear .8s both;
}
.socialButton:nth-child(5) {
	background-image: url(../assets/images/telegram.svg);
	animation: downer .5s linear .9s both;
}
.socialButton:nth-child(6) {
	background-image: url(../assets/images/x.svg);
	animation: downer .5s linear 1s both;
}
.socialButton:nth-child(7) {
	background-image: url(../assets/images/email.svg);
	animation: downer .5s linear 1.1s both;
}
.socialButton:hover {
	cursor: pointer;
	transition: all .3s ease-in-out;
	width: 55px;
	height: 55px;
	border: 15px solid var(--green);
	box-shadow: 7px 6px 20px 0px #0000004a;
}
.whatsapp:hover {
	background-image: url(../assets/images/whatsappg.svg);
}
.facebook:hover {
	background-image: url(../assets/images/facebookg.svg);
}
.instagram:hover {
	background-image: url(../assets/images/instagramg.svg);
}
.tiktok:hover {
	background-image: url(../assets/images/tiktokg.svg);
}
.telegram:hover {
	background-image: url(../assets/images/telegramg.svg);
}
.x:hover {
	background-image: url(../assets/images/xg.svg);
}
.email:hover {
	background-image: url(../assets/images/emailg.svg);
}
.mIcon {
	width: 30px;
	height: 30px;
	border-radius: 10px;
	background: url(../assets/images/internet.svg) center / 25px no-repeat;
	box-shadow: 7px 6px 20px 0px #0000004a;
	position: absolute;
	top: 5px;
	left: 5px;
}
.stat {
	background: url(../assets/images/tv.svg) center / 25px no-repeat;
}
.mTit {
	font-size: 1.8em;
    margin: -10px 0px 0px 0px;
    position: absolute;
    right: 15px;
    top: 45%;
}
.refImg {
	max-width: 110px;
	height: 110px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	filter: drop-shadow(26px 27px 24px #0000009c);
}
#brandFooter {
	position: absolute;
	font-size: .6em;
	bottom: 10px;
}
#brandFooter a {
	text-decoration: none;
	color: var(--black);
}
.optionsMobile,.mobileOptionsBlock {
	display: none;
}
.itv {
	letter-spacing: -2px;
}
/*Media*/

@media screen and (max-width: 750px){
	.closeButton {
		width: 40px;
		height: 40px;
		border-radius: 18px;
		box-shadow: 26px 27px 24px 0px #0000009c;
		background: url(../assets/images/close.svg) center / 35px no-repeat;
		position: absolute;
		right: 20px;
		top: 20px;
	}
	.mobileOptionsBlock {
		width: 100%;
		height: 100%;
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		background: #00000094 url(../assets/images/CurveLine.svg) center / cover no-repeat;
		backdrop-filter: blur(4px);
		z-index: 6;
		border-radius: 40px;
		animation: inMenu .2s linear normal;
	}
	.mOptions {
		width: 80%;
		height: 60%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		gap: 10px;
	}
	.optionSource {
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		background: var(--white);
		border-radius: 15px;
	}
	.nameTitle {
		font-size: 1.3em;
		letter-spacing: -1px;
	}
	.nameTitle b {
		margin: -5px 0px 0px 1px;
    	letter-spacing: 1px;
	}
	.optionsBlock {
		display: none;
	}
	#content {
		width: 50vw;
    	height: 30vh;
	}
	#canvas {
		animation: mobileZoomEarth .5s linear .6s both;
	}
	.headBar {
		padding: 5px 5px 5px 20px;
		z-index: 1;
    	position: relative;
	}
	.myWave {
		bottom: unset;
		top: -20%;
		right: -17%;
		animation: upper .5s linear .5s both;
	}
	.boxes {
		position: absolute;
		flex-direction: column;
		height: 45vh;
		width: 45vw;
		padding: 10px 20px;
	}
	.textBox {
		width: 55vw;
		z-index: 4;
		box-shadow: 3px 3px 13px 0 #00000054;
	}
	.socialContainer {
		position: absolute;
		width: 10vw;
		height: 35vh;
		flex-direction: column;
		right: 3vw;
		bottom: 3vh;
		gap: 3px;
	}
	.socialButton {
		width: 25px;
		height: 25px;
		border: 5px solid var(--black);
		border-radius: 10px;
		background-size: 20px;
	}
	.textContainer {
		position: absolute;
        width: 80vw;
        bottom: 10px;
        padding: 45px 25px 5px 20px;
	}
	.bFont {
		font-size: 1.5em;
		letter-spacing: 1px;
		line-height: 27px;
	}
	.mFont {
		font-size: .8em;
	}
	.optionsMobile {
		display: flex
;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 20px;
        border-radius: 15px;
        box-shadow: 2px 2px 8px 0 #0000006b;
        backdrop-filter: blur(3px);
		animation: upper .5s linear .8s both;
	}
	.menuButton {
		max-width: 30px;
		max-height: 30px;
		filter: drop-shadow(26px 27px 24px #0000009c);
	}
}